loader(ng-if="vm.loading")

header
  include nav

header
  .house
    .icon.warning.biggest

  h1 Visual Design

  p Help us define the visual style of your mobile app.

.flush-height.flex-column(flush-height=true)
  ul.interactive.flex-center-column.flex-grow.selectable-choices(ng-class="{active: vm.showPaths}")
    li
      .icon

      h3 Choose Styles

      p Pick few fonts style for your mobile app

      button.action.wide(ng-click="vm.showChooseStyles()") select

    li
      .icon

      h3 Upload styles

      p Pick color palette for your mobile app

      button.action.wide(ng-click="vm.showUploadStyles()") select

    li
      .icon

      h3 Get style from url

      p Pick graphic style for your mobile app.

      button.action.wide(ng-click="vm.showUrlStyles()") select

  a.button.wider.action.continue(ui-sref="submit-work-development({ id: vm.workId })") go to development

modal.upload-documents(show="vm.showUploadStylesModal" background-click-close=true)
  .upload
    .icon.upload

    h2 Upload <strong>documents</strong>

    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    ap-uploader(
      config="vm.visualsUploaderConfig"
      uploading="vm.visualsUploaderUploading"
      has-errors="vm.visualsUploaderHasErrors"
    )

modal.enter-url(show="vm.showUrlStylesModal" background-click-close=true)
  .upload
    .icon.upload

    h2 Enter your <strong>url</strong>

    p You can enter your website address and we'll grab your colors, fonts amd ocpms to use when designing your new app.

    form(ng-submit="vm.save()")
      input.wide(type="url" placeholder="http://www.example.com" ng-model="vm.url" required=true)

      button.wider.action(type="submit") enter

modal.full.choose-styles(show="vm.showChooseStylesModal" background-click-close=true)
  ul.nav.flex-center
    li
      button.clean(ng-click="vm.viewPrevious()") &lt;

    li
      button.clean(ng-click="vm.activateModal('fonts')") fonts

    li
      button.clean(ng-click="vm.activateModal('colors')") colors

    li
      button.clean(ng-click="vm.activateModal('icons')") icons

    li
      button.clean(ng-click="vm.viewNext()") &gt;

  main.fonts.flex-center-column.flex-grow(ng-show="vm.activeStyleModal == 'fonts' ")
    h2 Tell us your <strong>font preference</strong>

    ul.or-choices.flex-center
      li(ng-repeat-start="font in vm.fonts")
        h3 {{font.name}}

        hr

        p {{font.description}}

        ul.samples.flex-center(ng-if="font.name == 'Serif' ")
          li.baskerville Baskerville is a serif font.

          li.times Times New Roman is a serif font

          li.courier Courier is a serif font.


        ul.samples.flex-center(ng-if="font.name == 'Sans Serif' ")
          li.sofia Sofia is a sans-serif font.

          li.arial Arial is a sans-serif font.

          li.museo Museo Sans is a sans-serif font.

        button(selectable=true type="button" ng-model="vm.font" value="font.id")

      li.or(ng-repeat-end ng-if="font.name == 'Serif' ")
        .house OR

  main.colors.flex-center-column.flex-grow(ng-show="vm.activeStyleModal == 'colors' ")
    h2 Tell us <strong>the colors</strong> you like

    ul.flex-center
      li(ng-repeat="color in vm.colors")
        img(src="{{ color.imgUrl }}" width="150")

        p {{ color.name }}

        button(type="button" selectable=true ng-model="" value="")

  main.icons.flex-center-column.flex-grow(ng-show="vm.activeStyleModal == 'icons' ")
    h2 Tell us <strong>the icons</strong> you like

    ul.flex-center
      li(ng-repeat="icon in vm.icons")
        .icon

        p {{icon.name}}

        p.description {{icon.description}}

        button(type="button" selectable=true ng-model="vm.icon" value="icon.id")

  footer
    button.wider(ng-hide="vm.backButtonDisabled" ng-click="vm.viewPrevious()") back

    button.action.wider(ng-hide="vm.nextButtonDisabled" ng-click="vm.viewNext()") next

    button.action.wider(ng-show="vm.showFinishDesignButton" ng-click="vm.save()") finish design


