header.flex.column.center
  h1 How to create a new project

  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

form(ng-submit="vm.validateAllSections()")
  .flush-height.flex.column(flush-height=true)
    .dark-bg.flex.column.center.middle.flex-grow(id="app-name")
      input.wider(
        type="text"
        placeholder="Name your project..."
        ng-blur="vm.validateSection('platform-details', 'name')"
        ng-model="vm.name"
        ng-class="{error: vm.nameError}"
      )

      p.error.wider(ng-if="vm.nameError && !vm.name.length") Please enter an app name.

    button.wider.continue(
      type="button"
      ng-click="vm.validateSection('platform-details', 'name', true)"
    ) continue

  .full-height.flex.column(full-height=true)
    .dark-bg.flex.column.center.flex-grow(id="platform-details")
      h2 IOS <strong>platform details</strong>

      ul.target-platforms
        li
          h5 Devices

          hr

          ul
            li(ng-repeat="device in vm.devices")
              checkbox(label="{{device.name}}" ng-model="device.selected")

        li(ng-class="{invisible: !vm.showOrientation()}")
          h5 Orientation

          hr

          ul
            li(ng-repeat="orientation in vm.orientations")
              checkbox(label="{{orientation.name}}" ng-model="orientation.selected")

      p.error.wider(ng-if="vm.devicesError") Please choose a device.

      p.error.wider(ng-if="vm.orientationsError") Please choose an orientation.

    button.wider.continue(
      type="button"
      ng-click="vm.validateSection('type-details', ['devices', 'orientations'], true)"
    ) continue

  .full-height.flex.column(full-height=true)
    .type.dark-bg.flex.column.center.flex-grow(id="type-details")
      h2 What <strong>type of work</strong> are you looking for?

      ul.type.flex.center
        li(ng-repeat="projectType in vm.projectTypes")
          .house.flex.column.center(
            ng-class="{ selected: vm.projectType == projectType.id }"
            ng-if="projectType.id == 'DESIGN'"
          )
            img.inactive(src="/images/design-thin.svg")

            img.active(src="/images/design-white-thin.svg")

          .house.flex.column.center(
            ng-class="{ selected: vm.projectType == projectType.id }"
            ng-if="projectType.id == 'DESIGN_AND_CODE'"
          )
            img.inactive(src="/images/design-development.svg")

            img.active(src="/images/design-development-active.svg")

          h4 {{projectType.name}}

          p {{ projectType.description }}

          button.action(
            type="button"
            selectable="true"
            ng-model="vm.projectType"
            value="projectType.id"
          )

      p.error.wider(ng-if="vm.projectTypeError") Please choose a type of work.

    button.wider.continue(type="button" ng-click="vm.validateSection('brief-details', 'projectType', true)") continue

  .full-height.flex.column.has-loader(full-height=true)
    loader(ng-if="vm.loading")

    .dark-bg.flex.column.center.flex-grow(id="brief-details")
      h2 Can you <strong>share a brief</strong> overview?

      textarea.brief(placeholder="E.g. I need a mobile HR application with social features to support my growing organization" ng-model="vm.brief")

      p.error.wider(ng-if="vm.briefError") Please enter project details.

      button.action.continue.wider(type="submit") Create Project

modal(show="vm.showSuccessModal" background-click-close=true)
  .success
    h2 Awesome!

    p Your {{ vm.name }} is set up now

    p Share your email to signup and we'll be sure to send a project link.

    form
      input.wider(type="email" required=true)

      button.wider(type="submit") Submit
