loader(ng-show="vm.loading")

header
  h1 How to create a new project

  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

form(ng-submit="vm.save()")
  .interactive
    input.wider(type="text" placeholder="Name your project..." required="true" ng-model="vm.work.name")

  button.wider.continue.action(type="button" scroll-element="platformDetails") continue

  ul.target-platform.interactive(id="platformDetails")
    li
      h2 IOS <strong>platform details</strong>

    li
      h4 Devices

      ul
        li(ng-repeat="device in vm.type.devices")
          checkbox(label="{{device.name}}" ng-model="device.selected")

    li
      h4 Orientation

      ul
        li(ng-repeat="orientation in vm.type.orientations")
          checkbox(label="{{orientation.name}}" ng-model="orientation.selected")

    li
      h4 OS

      ul
        li(ng-repeat="os in vm.type.operatingSystems")
          checkbox(label="{{os.name}}" ng-model="os.selected")

  button.wider.continue.action(type="button" scroll-element="typeDetails") continue

  ul.type.interactive(id="typeDetails")
    li
      h2 What <strong>type of work</strong> are you looking for?

    li(ng-repeat="requestType in vm.type.requestTypes")
      h4 {{requestType.name}}

      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

      img(ng-if="requestType.name == 'Design'" src="http://www.collegequest.com/wp-content/uploads/what-do-graphic-designers-do.jpg")

      img(ng-if="requestType.name == 'Design & Development'" src="http://pbwebdev.com/blog/wp-content/uploads/2014/06/developer.jpg")

      button(
        type="button"
        selectable="true"
        ng-model="vm.work.requestType"
        value="requestType.name"
      ) Design


  button.wider.continue.action(type="button" scroll-element="briefDetails") continue

  .interactive(id="briefDetails")
    h2 Can you <strong>share a brief</strong> overview?

    textarea.brief(placeholder="E.g. I need a mobile HR application with social features to support my growing organization" ng-model="vm.work.summary")

    button.create.wider(type="submit" ng-if="!vm.workId") Create Project

    button.save.wider(type="submit" ng-if="vm.workId") Save

modal(show="vm.showSuccessModal" background-click-close=true)
  .success
    h2 Awesome!

    p Your {{ vm.work.name }} is set up now

    p Share your email to signup and we'll be sure to send a project link.

    form
      input(type="email" required=true)

      button(type="submit") Submit