header
  h1 How to create a new project

  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

form(ng-submit="vm.create()" name="typeForm")
  .flush-height.flex.column(flush-height=true)
    .interactive.flex.column.center.flex-grow(id="app-name")
      input.wider(
        name="nameInput"
        type="text"
        placeholder="Name your project..."
        ng-blur="vm.validateSection('app-name', 'platform-details', 'name')"
        ng-model="vm.name"
        ng-class="{error: vm.nameError}"
      )

      p.error(ng-if="vm.nameError") Please enter an app name.

    button.wider.continue.action(type="button" ng-click="vm.validateSection('app-name', 'platform-details')") continue

  .full-height.flex.column(full-height=true)
    .interactive.flex.column.center.flex-grow(id="platform-details")
      h2 IOS <strong>platform details</strong>

      ul.target-platforms
        li
          h4 Devices

          hr

          ul
            li(ng-repeat="device in vm.devices")
              checkbox(label="{{device.name}}" ng-model="device.selected")

        li
          h4 Orientation

          hr

          ul
            li(ng-repeat="orientation in vm.orientations")
              checkbox(label="{{orientation.name}}" ng-model="orientation.selected")

      p.error Please choose a device.

      p.error Please choose an orientation.

    button.wider.continue.action(type="button" scroll-element="type-details") continue

  .full-height.flex.column(full-height=true)
    .interactive.flex.column.center.flex-grow(id="type-details")
      h2 What <strong>type of work</strong> are you looking for?

      ul.type.flex-center
        li(ng-repeat="projectType in vm.projectTypes")
          h4 {{projectType.name}}

          img(src="{{ projectType.imgUrl }}")

          p {{ projectType.description }}

          button(
            type="button"
            selectable="true"
            ng-model="vm.projectType"
            value="projectType.id"
          )

      p.error Please choose a type of work.

    button.wider.continue.action(type="button" scroll-element="brief-details") continue

  .full-height.flex.column.has-loader(full-height=true)
    loader(ng-if="vm.loading")

    .interactive.flex.column.center.flex-grow(id="brief-details")
      h2 Can you <strong>share a brief</strong> overview?

      textarea.brief(placeholder="E.g. I need a mobile HR application with social features to support my growing organization" ng-model="vm.brief")

      button.action.continue.wider(type="submit") Create Project

modal(show="vm.showSuccessModal" background-click-close=true)
  .success
    h2 Awesome!

    p Your {{ vm.name }} is set up now

    p Share your email to signup and we'll be sure to send a project link.

    form
      input.wider(type="email" required=true)

      button.wider(type="submit") Submit
