loader(ng-show="vm.loading")

header
  h1 How to create a new project

  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

form(ng-submit="vm.save()")
  .interactive-section
    input.wider(type="text" placeholder="Name your project..." required="true" ng-model="vm.work.name")

  button.clean.continue(type="button") continue

  h2 Target <strong>Platform</strong>

  ul.target-platform.interactive-section
    li.devices
      h4 Devices

      ul
        li
          checkbox(label="iPhone 5c" ng-model="vm.work.devices.iPhone5c")

        li
          checkbox(label="iPhone 5s" ng-model="vm.work.devices.iPhone5s")

    li
      h4 Orientation

      ul
        li
          checkbox(label="Landscape" ng-model="vm.work.orientation.landscape")

        li
          checkbox(label="Portrait" ng-model="vm.work.orientation.portrait")
    li
      h4 OS

      ul
        li
          checkbox(label="iOS 7" ng-model="vm.work.os.iOS7")

        li
          checkbox(label="iOS 8" ng-model="vm.work.os.iOS8")

  h2 What <strong>type of work</strong> are you looking for?

  ul.type.interactive-section
    li
      h4 Design

      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

      img(src="http://www.collegequest.com/wp-content/uploads/what-do-graphic-designers-do.jpg")

      selected-button(
        type="button"
        ng-click="vm.toggleType('Design')"
        ng-class="{success: vm.work.requestType == 'Design' || vm.work.requestType == 'Both'}"
      ) Design

    li
      h4 Development

      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

      img(src="http://pbwebdev.com/blog/wp-content/uploads/2014/06/developer.jpg")

      selected-button(
        type="button"
        ng-click="vm.toggleType('Code')"
        ng-class="{success: vm.work.requestType == 'Code' || vm.work.requestType == 'Both'}"
      ) Development

  h2 Can you share a <strong>brief</strong> overview?

  .interactive-section
    textarea.brief(placeholder="E.g. I need a mobile HR application with social features to support my growing organization" ng-model="vm.work.summary")

  button.create(type="submit" ng-if="!vm.workId") Create Project

  button.save(type="submit" ng-if="vm.workId") Save

modal(show="vm.showSuccessModal")
  .success
    h2 Awesome!

    p Your {{ vm.work.name }} is set up now

    p Share your email to signup and we'll be sure to send a project link.

    form
      input(type="email" required=true)

      button(type="submit") Submit
