header

main("ng-scroll-state"="activeState")
  .starting-line(id="starting-line-name")

  submit-work-name.state-active(state="name" class="state name" name="vm.work.name" save="vm.save()")

  .starting-line(id="starting-line-type")

  submit-work-type(
    state="type"
    class="state type"
    request-type="vm.work.requestType"
    save="vm.save()"
  )

  .starting-line(id="starting-line-brief")

  submit-work-brief(
    state="brief"
    class="state brief"
    work-id="vm.work.id"
    summary="vm.work.summary"
    save="vm.save()"
  )

  .starting-line(id="starting-line-competitors")

  submit-work-competitors(
    state="competitors"
    class="state competitors"
    competitor-apps="vm.work.competitorApps"
    save="vm.save()"
  )

  .starting-line(id="starting-line-users")

  submit-work-users(
    state="users"
    class="state users"
    usage-description="vm.work.usageDescription"
    save="vm.save()"
  )

  .starting-line(id="starting-line-features")

  submit-work-features(
    state="features"
    class="state features"
    features="vm.work.features"
    save="vm.save()"
  )

  .starting-line(id="starting-line-designs")

  submit-work-designs(state="designs" class="state designs" work-id="vm.work.id" save="vm.save()")

  .starting-line(id="starting-line-estimate")

  submit-work-estimate(
    state="estimate"
    class="state estimate"
    save="vm.save()"
    estimate="vm.estimate"
  )

  button.launch(
    type="button"
    ng-click="vm.launch()"
    ng-class="{ active: activeState == 'estimate' }"
  ) SUBMIT PROJECT

submit-work-nav(
  active-state="activeState"
  completed="completed"
  name="vm.work.name"
  request-type="vm.work.requestType"
  estimate="vm.estimate"
)
