header.flex.column.center
  h1 Let's Start Creating Your App

  p Welcome to our step-by-step guide for gathering  your requirements. Tell us about your feature requirements and design preferences, and we’ll start creating your app.

form(ng-submit="vm.validateAllSections()")
  .flush-height.flex.column(flush-height="lock")
    .dark-bg.flex.column.center.middle.flex-grow(id="app-name")
      input(
        type="text"
        placeholder="Name your project..."
        ng-change="vm.validateSection('platform-details', 'name', false)"
        ng-keydown="vm.interceptSubmit($event)"
        ng-model="vm.name"
        ng-class="{error: (vm.nameError && !vm.name.length) || (vm.nameError && vm.name.length) }"
        autofocus=true
      )

      p.error.transition(ng-class="{ show: vm.nameError && !vm.name.length }") Please name your project.

      p.error.transition(ng-class="{ show: vm.nameError && vm.name.length }") This name already exists.

    .continue-buttons
      button(
        type="button"
        ng-click="vm.validateSection('platform-details', 'name', true)"
      ) continue

  .full-height.flex.column(full-height=true)
    .dark-bg.flex.column.center.flex-grow(id="platform-details")
      h2 iOS <strong>platform details</strong>

      ul.target-platforms
        li
          p Choose the devices on which you’d like your app to run 

          ul.flex.space-between
            li.flex.column(ng-repeat="device in vm.devices")
              //- checkbox(label="{{device.name}}" ng-model="device.selected" ng-click="vm.validateSection('type-details', ['devices'])")
                img.flex(ng-src="{{vm.getIconPath(device.name)}}")
              .device-icon-container.flex.center
                img(ng-src="{{vm.getIconPath(device.name)}}")

        li(ng-class="{invisible: !vm.showOrientation()}")
          h5 What <strong>screen</strong> orientations would you like to support?

          ul
            li(ng-repeat="orientation in vm.orientations")
              checkbox(label="{{orientation.name}}" ng-model="orientation.selected" ng-click="vm.validateSection('type-details', ['orientations'])")

      p.error.transition(ng-class="{ show: vm.devicesError }") Please choose a device.

      p.error.transition(ng-class="{ show: vm.orientationsError }") Please choose an orientation.

    .continue-buttons
      button(
        type="button"
        ng-click="vm.validateSection('type-details', ['devices', 'orientations'], true)"
      ) continue

  .full-height.flex.column(full-height=true)
    .type.dark-bg.flex.column.center.flex-grow(id="type-details")
      h2 What <strong>type of work</strong> are you looking for?

      ul.type.flex.center
        li(ng-repeat="projectType in vm.projectTypes")
          .house.flex.column.center.middle(
            ng-class="{ selected: vm.projectType == projectType.id }"
            ng-if="projectType.id == 'DESIGN'"
          )
            img.inactive(src=require("./../images/design-thin.svg"))

            img.active(src=require("./../images/design-white-thin.svg"))

          .house.flex.column.center.middle(
            ng-class="{ selected: vm.projectType == projectType.id }"
            ng-if="projectType.id == 'DESIGN_AND_CODE'"
          )
            img.inactive(src=require("./../images/design-development.svg"))

            img.active(src=require("./../images/design-development-active.svg"))

          h4 {{projectType.name}}

          p {{ projectType.description }}

          button.action(
            type="button"
            selectable="true"
            ng-model="vm.projectType"
            ng-click="vm.validateSection('brief-details', 'projectType')"
            value="projectType.id"
          )

      p.error.transition(ng-class="{ show: vm.projectTypeError }") Please choose a type of work.

    .continue-buttons
      button(type="button" ng-click="vm.validateSection('brief-details', 'projectType', true)") continue

  .full-height.flex.column.has-loader(full-height=true)
    loader(ng-if="vm.loading")

    .dark-bg.flex.column.center.flex-grow(id="brief-details")
      h2 <strong>share a brief</strong> overview

      textarea.brief(placeholder="You can include a short pitch for your app or just quickly describe how it will be used and by whom. Don't worry, you will get a chance to add more details later in the process." ng-model="vm.brief" ng-change="vm.validateSection('brief-details', 'brief')")

      p.error.transition(ng-class="{ show: vm.briefError }") Please enter project details.

      .continue-buttons
        button.action(type="submit") Create Project

modal(show="vm.showSuccessModal" background-click-close=true)
  .success
    h2 Awesome!

    p Your {{ vm.name }} is set up now

    p Share your email to signup and we'll be sure to send a project link.

    form
      input(type="email" required=true)

      button(type="submit") Submit
