header
  .house
    .icon.checkmark.biggest

  h1 Specify Features

  p Tell us what features we need to include in your new app.

ul.path-choices
  li
    .icon

    h3 Define features

    p UX design greating the usability, accessibility, and costume journey.

    button.action.wide(ng-click="vm.showFeatures()") select

  li
    .icon

    h3 Upload document

    p Upload your specs or any documents you have.

    button.action.wide(ng-click="vm.showUpload()") select

button.wider.action(ng-click="vm.showFeatures()") go to design

modal.define-features(show="vm.showFeaturesModal" background-click-close=true)
  h2 Data booklet mobile app <strong>features</strong>

  main
    ul.features
      li
        ul
          li(ng-repeat="feature in vm.defaultFeatures track by $index")
            button.widest.clean(ng-click="vm.activateFeature(feature)")
              .icon(ng-class="{selected: vm.activeFeature.name == feature.name}")

              span {{ feature.name }}

      li
        button.widest.clean(ng-click="vm.toggleDefineFeatures()")
          span Define a new feature

          .icon +

    ul.contents
      li
        .default.active(ng-class="{active: !vm.activeFeature}")
          h4 Select and define features for your app

          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

        .description(ng-class="{active: vm.activeFeature}")
          h4 Select and define features for your app

          h5 {{ vm.activeFeature.name }} description

          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

          textarea.widest(placeholder="Notes..." ng-model="vm.activeFeature.notes")

          button.wider.action(ng-click="vm.applyFeature()") apply feature

        form.new-feature(ng-submit="vm.addCustomFeature()" ng-class="{active: vm.showDefineFeaturesForm}")
          h4 Define a new feature

          label New feature title

          input.widest(type="text" ng-model="vm.customFeature.name" required=true)

          label New feature description

          textarea.widest(ng-model="vm.customFeature.description" required=true)

          button.wider.action(type="submit") add new feature

          button(type="button" ng-click="vm.hideCustomFeatures()") Cancel

        .example
          .phone

      li
        .count {{vm.work.features.length}} features added

        button.wider.action(ng-click="vm.submitFeatures()") next

modal.upload-documents(show="vm.showUploadModal" background-click-close=true)
  .upload
    .icon.upload

    h2 Upload <strong>documents</strong>

    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    ap-uploader(
      config="vm.featuresUploaderConfig"
      uploading="vm.featuresUploaderUploading"
      has-errors="vm.featuresUploaderHasErrors"
    )


