header
  include nav

  img(src="/images/development-active.svg")

  h1 Development

  p Help us understand the technical requirements of your app.

modal.upload-documents(show="vm.showUploadSpecs" background-click-close=true)
  .upload
    img(src="/images/upload.svg")

    h2 Upload your <strong>Development specs</strong>

    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    ap-uploader(
      config="vm.uploaderConfig"
      uploading="vm.uploaderUploading"
      has-errors="vm.uploaderHasErrors"
      has-files="vm.uploaderHasFiles"
    )

.flush-height.flex.column(flush-height=true)
  ul.dark-bg.flex.center.middle.flex-grow.selectable-choices
    li
      img.icon.biggest(src="/images/define-dev-specs.svg")

      h4 Define development specs

      button.action.wide(type="button" ng-click="vm.showDefineSpecs()") select

    li
      img.icon.biggest(src="/images/upload.svg")

      h4 Upload development specs

      button.action.wide(ng-click="vm.uploadSpecs()") select

  button.continue.wider(ng-click="vm.save(true, true)") kick off project

modal.full.define-development(show="vm.showDefineSpecsModal" background-click-close=true)
  ul.nav
    li
      button.clean(ng-click="vm.viewPrevious()")
        .icon.arrow.smallest

    li
      button.clean(ng-click="vm.activateModal('offlineAccess')" ng-class="{active: vm.activeDevelopmentModal == 'offlineAccess'}") offline access

    li
      button.clean(ng-click="vm.activateModal('personalInformation')" ng-class="{active: vm.activeDevelopmentModal == 'personalInformation'}") personal information

    li
      button.clean(ng-click="vm.activateModal('security')" ng-class="{active: vm.activeDevelopmentModal == 'security'}") security level

    li
      button.clean(ng-click="vm.activateModal('thirdPartyIntegrations')" ng-class="{active: vm.activeDevelopmentModal == 'thirdPartyIntegrations'}") third party integrations

    li
      button.clean(ng-click="vm.viewNext()")
        .icon.arrow.smallest.right

  main.dark-bg.flex.column.center.flex-grow(ng-show= "vm.activeDevelopmentModal == 'offlineAccess'")
    h2 Do you require users to have <strong>offline access to data</strong>?

    p Do your users need to be able to interact with the application when they are unable to connect to the internet (over the air or via wifi)?

    ul.or-choices.flex.center
      li
        button.big.widest(
          ng-model="vm.work.offlineAccess"
          label="yes"
          value="true"
          selectable="action"
          type="button"
        )

        p Users will need to interact with the app even when offline.  This feature increases complexity and costs.

      li.or
        .house OR

      li
        button.big.widest(
          ng-model="vm.work.offlineAccess"
          label="no"
          value="false"
          selectable="action"
          type="button"
        )

        p The application will gracefully present a message to the user to please connect to the internet.

  main.dark-bg.flex.column.center.flex-grow(ng-show= "vm.activeDevelopmentModal == 'personalInformation'")
    h2 Personal information

    p Is there any level of personal information? (stored or transmitted)

    ul.or-choices.flex.center
      li
        button.big.widest(
          ng-model="vm.work.usesPersonalInformation"
          label="yes"
          value="true"
          selectable="action"
          type="button"
        )

        p Storing and/or transmitting personal information increases security and encryption needs which adds complexity and cost.

      li.or
        .house OR

      li
        button.big.widest(
          ng-model="vm.work.usesPersonalInformation"
          label="no"
          value="false"
          selectable="action"
          type="button"
        )

        p The app is not transferring or storing personal information.

  main.dark-bg.security.flex.column.center.flex-grow(ng-show= "vm.activeDevelopmentModal == 'security'")
    h2 What level of <strong>security do you need</strong>?

    ul.selectable-choices.flex.center
      li
        img(src="/images/security-none.svg")

        h6 No security

        button.wide.action(selectable=true type="button" ng-model="vm.work.securityLevel" value="vm.securityLevels.none")

      li
        img(src="/images/security-minimal.svg")

        h6 Minimal security

        button.wide.action(selectable=true type="button" ng-model="vm.work.securityLevel" value="vm.securityLevels.minimal")

      li
        img(src="/images/security-complete.svg")

        h6 Complete security

        button.wide.action(selectable=true type="button" ng-model="vm.work.securityLevel" value="vm.securityLevels.complete")

  main.dark-bg.third-party-integrations.flex.column.center.flex-grow(ng-show= "vm.activeDevelopmentModal == 'thirdPartyIntegrations'")
    h2 How many 3rd party integrations</strong>?

    p Enter the number of 3rd party integrations so we can estimate effort involved.

    input(type="number" min=1 max=6 ng-model="vm.work.numberOfApiIntegrations")

  footer
    button.wider(ng-hide="vm.backButtonDisabled" ng-click="vm.viewPrevious()") back

    button.action.action.wider(ng-hide="vm.nextButtonDisabled" ng-click="vm.viewNext()") next

    button.action.wider(ng-show="vm.showFinishDevelopmentButton" ng-click="vm.save()") Save
