header.flex.column.center
  h1 Let's Start Creating Your App

  p Welcome to our step-by-step guide for gathering  your requirements. Tell us about your feature requirements and design preferences, and we’ll start creating your app.

form(ng-submit="vm.validateAllSections()")
  .flush-height.flex.column(flush-height="lock")
    .dark-bg.flex.column.center.middle.flex-grow(id="app-name")
      input(
        type="text"
        placeholder="Name your project..."
        ng-change="vm.validateSection('platform-details', 'name', false)"
        ng-keydown="vm.interceptSubmit($event)"
        ng-model="vm.name"
        ng-class="{error: (vm.nameError && !vm.name.length) || (vm.nameError && vm.name.length) }"
        autofocus=true
        ng-disabled="vm.readOnly"
      )

      p.error.transition(ng-class="{ show: vm.nameError && !vm.name.length }") Please name your project.

      p.error.transition(ng-class="{ show: vm.nameError && vm.name.length }") This name already exists.

    .continue-buttons
      button(
        type="button"
        ng-click="vm.validateSection('platform-details', 'name', true)"
      ) continue

  .full-height.flex.column(full-height=true)
    .dark-bg.flex.column.center.flex-grow(id="platform-details")
      h2 <strong>platforms</strong>

      ul.target-platforms
        li
          p iOS, Android, or both.

          ul.flex.space-between
            li.flex.center.column.middle(ng-repeat="platform in vm.platforms")
              button.clean(type="button" ng-click="vm.toggleSelection(platform, platform.selected, 'orientation-details', ['platforms'])" ng-disabled="vm.readOnly")
                .platform-icon-container.flex.center.middle
                    img(ng-if="!platform.selected" ng-src="{{vm.getIconPath(platform.name)}}")

                    img(ng-if="platform.selected" ng-src="{{vm.getIconPath(platform.name, true)}}")

              span.platform-name {{platform.name}}

              button.action(
                type="button"
                selectable="true"
                ng-model="platform.selected"
                ng-click="vm.validateSection('device-details', ['platforms'] )"
                ng-disabled="vm.readOnly"
              )

      p.error.transition(ng-class="{ show: vm.platformsError }") Please choose a platform.

    .continue-buttons
      button(
        type="button"
        ng-click="vm.validateSection('device-details', ['platforms'], true)"
      ) continue

  .full-height.flex.column(full-height=true)
    .dark-bg.flex.column.center.flex-grow(id="device-details")
      h2 <strong>devices</strong>

      ul.target-devices
        li
          p Choose the devices on which you’d like your app to run 

          ul.flex.space-between
            li.flex.center.column.middle(ng-repeat="device in vm.devices")
              button.clean(type="button" ng-click="vm.toggleSelection(device, device.selected, 'orientation-details', ['devices'])" ng-disabled="vm.readOnly")
                .device-icon-container.flex.center
                    img(ng-if="!device.selected" ng-src="{{vm.getIconPath(device.name)}}")

                    img(ng-if="device.selected" ng-src="{{vm.getIconPath(device.name, true)}}")

              span.device-name {{device.name}}

              button.action(
                type="button"
                selectable="true"
                ng-model="device.selected"
                ng-click="vm.validateSection('orientation-details', ['devices'])"
                ng-disabled="vm.readOnly"
              )

      p.error.transition(ng-class="{ show: vm.devicesError }") Please choose a device.

    .continue-buttons
      button(
        ng-if="!vm.showOrientation()"
        type="button"
        ng-click="vm.validateSection('type-details', ['devices'], true)"
      ) continue

      button(
        ng-if="vm.showOrientation()"
        type="button"
        ng-click="vm.validateSection('orientation-details', ['devices'], true)"
      ) continue

  .full-height.flex.column(full-height=true ng-show="vm.showOrientation()")
    .dark-bg.flex.column.center.flex-grow(id="orientation-details")
      h2 <strong>orientations</strong>

      ul.target-orientations
        li
          p What screen orientations would you like to support?

          ul.flex.space-between
            li.flex.center.column.middle(ng-repeat="orientation in vm.orientations")
              button.clean(
                type="button"
                ng-click="vm.toggleSelection(orientation, orientation.selected, 'type-details', ['orientations'])"
                ng-disabled="vm.readOnly"
                )
                .orientation-icon-container.flex.center
                  img(ng-if="!orientation.selected" ng-src="{{vm.getIconPath(orientation.name)}}")

                  img(ng-if="orientation.selected" ng-src="{{vm.getIconPath(orientation.name, true)}}")

              span.orientation-name {{orientation.name}}

              button.action(
                type="button"
                selectable="true"
                ng-model="orientation.selected"
                ng-click="vm.validateSection('type-details', ['orientations'])"
                ng-disabled="vm.readOnly"
              )

      p.error.transition(ng-class="{ show: vm.orientationsError }") Please choose an orientation.

    .continue-buttons
      button(
        type="button"
        ng-click="vm.validateSection('type-details', ['orientations'], true)"
      ) continue

  .full-height.flex.column(full-height=true)
    .type.dark-bg.flex.column.center.flex-grow(id="type-details")
      h2 What <strong>type of work</strong> are you looking for?

      ul.type.flex.center
        li(ng-repeat="projectType in vm.projectTypes")
          button.clean(
            type="button"
            ng-click="vm.makeSelection('projectType', projectType.id, 'brief-details', 'projectType')"
            ng-if="projectType.id == 'DESIGN'"
            ng-disabled="vm.readOnly"
            )
            .house.flex.column.center.middle(
              ng-class="{ selected: vm.projectType == projectType.id }"
              ng-if="projectType.id == 'DESIGN'"
            )
              img.inactive(src=require("./../images/design-thin.svg"))

              img.active(src=require("./../images/design-white-thin.svg"))

          button.clean(
            type="button"
            ng-click="vm.makeSelection('projectType', projectType.id, 'brief-details', 'projectType')"
            ng-if="projectType.id == 'DESIGN_AND_CODE'"
            ng-disabled="vm.readOnly"
            )
            .house.flex.column.center.middle(
              ng-class="{ selected: vm.projectType == projectType.id }"
              ng-if="projectType.id == 'DESIGN_AND_CODE'"
            )
              img.inactive(src=require("./../images/design-development.svg"))

              img.active(src=require("./../images/design-development-active.svg"))

          h4 {{projectType.name}}

          p {{ projectType.description }}

          button.action(
            type="button"
            selectable="true"
            ng-disabled="vm.readOnly"
            ng-model="vm.projectType"
            ng-click="vm.validateSection('brief-details', 'projectType')"
            value="projectType.id"
          )

      p.error.transition(ng-class="{ show: vm.projectTypeError }") Please choose a type of work.

    .continue-buttons
      button(type="button" ng-click="vm.validateSection('brief-details', 'projectType', true)") continue

  .full-height.flex.column.has-loader(full-height=true)
    loader(ng-if="vm.loading")

    .dark-bg.flex.column.center.flex-grow(id="brief-details")
      h2 <strong>share a brief</strong> overview

      textarea.brief(placeholder="You can include a short pitch for your app or just quickly describe how it will be used and by whom. Don't worry, you will get a chance to add more details later in the process." ng-model="vm.brief" ng-change="vm.validateSection('brief-details', 'brief')" ng-disabled="vm.readOnly")

      p.error.transition(ng-class="{ show: vm.briefError }") Please enter project details.

      .continue-buttons
        button.action(type="submit" ng-disabled="vm.readOnly") Create Project

modal(show="vm.showSuccessModal" background-click-close=true)
  .success
    h2 Awesome!

    p Your {{ vm.name }} is set up now

    p Share your email to signup and we'll be sure to send a project link.

    form
      input(type="email" required=true)

      button(type="submit") Submit
