.full-height.flex.column(full-height=true)
  .dark-bg.flex.column.center.flex-grow(id="platform-details")
    h2 <strong>platforms</strong>

    ul.target-platforms
      li
        p iOS, Android, or both.

        ul.flex.space-between
          li.flex.center.column.middle(ng-repeat="platform in vm.platforms")
            button.clean(type="button" ng-click="vm.toggleSelection(platform, platform.selected, 'orientation-details', ['platforms'])" ng-disabled="vm.readOnly")
              .platform-icon-container.flex.center.middle
                  img(ng-if="!platform.selected" ng-src="{{vm.getIconPath(platform.name)}}")

                  img(ng-if="platform.selected" ng-src="{{vm.getIconPath(platform.name, true)}}")

            span.platform-name {{platform.name}}

            button.action(
              type="button"
              selectable="true"
              ng-model="platform.selected"
              ng-click="vm.validateSection('device-details', ['platforms'] )"
              ng-disabled="vm.readOnly"
            )

    p.error.transition(ng-class="{ show: vm.platformsError }") Please choose a platform.

  .continue-buttons
    button(
      type="button"
      ng-click="vm.validateSection('device-details', ['platforms'], true)"
    ) continue