modal.full.choose-styles(show="vm.showChooseStylesModal" background-click-close=true)
  ul.nav
    li
      button.clean(ng-click="vm.viewPrevious()")
        .icon.arrow.smallest

    li
      button.clean(ng-click="vm.activateModal('fonts')" ng-class="{active: vm.activeStyleModal == 'fonts'}") fonts

    li
      button.clean(ng-click="vm.activateModal('colors')" ng-class="{active: vm.activeStyleModal == 'colors'}") colors

    li
      button.clean(ng-click="vm.activateModal('icons')" ng-class="{active: vm.activeStyleModal == 'icons'}") icons

    li
      button.clean(ng-click="vm.viewNext()")
        .icon.arrow.smallest.right

  main.dark-bg.fonts.flex.column.center.flex-grow(ng-show="vm.activeStyleModal == 'fonts' ")
    h2 Pick the <strong>font style</strong> that you prefer

    p Our community will offer choices within these broad font styles. Feel free to skip this step if you don't have a preference.

    ul.or-choices.flex.middle.center
      li.serif
        img.header(src="/images/serif-header.svg")

        p Classic design, good legibility for large and small text.

        hr

        img(src="/images/serif.png")

        button.action(selectable=true type="button" ng-model="vm.font" value="SERIF")

      li.or(ng-repeat-end ng-if="font.name == 'Serif' ")
        .house OR

      li.sans-serif
        img.header(src="/images/sans-serif-header.svg")

        p Classic design, good legibility for large and small text.

        hr

        img(src="/images/sans.png")

        button.action(selectable=true type="button" ng-model="vm.font" value="SANS_SERIF")

  main.dark-bg.colors.flex.column.center.flex-grow(ng-show="vm.activeStyleModal == 'colors' ")
    h2 Pick <strong>the colors</strong> that you prefer

    p Our community will use these choices to pick the appropriate shade. Feel free to skip this step if you don’t have a preference.

    ul.flex.center
      li(ng-repeat="color in vm.colors")
        h6 {{ color.name }}

        img(src="/images/{{ color.name.toLowerCase() }}.png")

        button.action(type="button" selectable=true ng-model="color.selected")

  main.dark-bg.icons.flex.column.center.flex-grow(ng-show="vm.activeStyleModal == 'icons' ")
    h2 Pick the <strong>icon styles</strong> that you prefer

    p Feel free to skip this step if you don't have a preference.

    ul.flex.center
      li(ng-repeat="icon in vm.icons")
        img(src="/images/{{icon.img}}.svg")

        h6 {{icon.name}}

        p {{icon.description}}

        button.action(type="button" selectable=true ng-model="vm.icon" value="icon.id")

  footer
    button(ng-hide="vm.backButtonDisabled" ng-click="vm.viewPrevious()") back

    button.action.action(ng-hide="vm.nextButtonDisabled" ng-click="vm.viewNext()") next

    button.action(ng-show="vm.showFinishDesignButton" ng-click="vm.save()") Save
