modal.full.choose-styles(show="vm.showChooseStylesModal" background-click-close=true)
  ul.nav
    li
      button.clean(ng-click="vm.viewPrevious()")
        .icon.arrow.smallest

    li
      button.clean(ng-click="vm.activateModal('fonts')" ng-class="{active: vm.activeStyleModal == 'fonts'}") fonts

    li
      button.clean(ng-click="vm.activateModal('colors')" ng-class="{active: vm.activeStyleModal == 'colors'}") colors

    li
      button.clean(ng-click="vm.activateModal('icons')" ng-class="{active: vm.activeStyleModal == 'icons'}") icons

    li
      button.clean(ng-click="vm.activateModal('notes')" ng-class="{active: vm.activeStyleModal == 'notes'}") notes

    li
      button.clean(ng-click="vm.viewNext()")
        .icon.arrow.smallest.right

  main.dark-bg.fonts.flex.column.center.flex-grow(ng-show="vm.activeStyleModal == 'fonts' ")
    h2 Pick the <strong>font style</strong> that you prefer

    p Our community will offer choices within these broad font styles. Feel free to skip this step if you don't have a preference.

    ul.or-choices.flex.middle.center
      li.serif
        img.header(ng-src=require("./../../images/serif-header.svg"))

        p Classic design, good legibility for large and small text.

        hr
        button.clean(ng-click="vm.toggleSelection('font', vm.serif)" ng-disabled="vm.readOnly")
          img(ng-src=require("./../../images/serif.png"))

        button.action(selectable=true type="button" ng-model="vm.font" value="vm.serif" ng-disabled="vm.readOnly")

      li.or(ng-repeat-end ng-if="font.name == 'Serif' ")
        .house OR

      li.sans-serif
        img.header(ng-src=require("./../../images/sans-serif-header.svg"))

        p Classic design, good legibility for large and small text.

        hr

        button.clean(ng-click="vm.toggleSelection('font', vm.sansSerif)" ng-disabled="vm.readOnly")
          img(ng-src=require("./../../images/sans.png"))

        button.action(selectable=true type="button" ng-model="vm.font" value="vm.sansSerif"  ng-disabled="vm.readOnly")

  main.dark-bg.colors.flex.column.center.flex-grow(ng-show="vm.activeStyleModal == 'colors' ")
    h2 Pick <strong>the colors</strong> that you prefer

    p Our community will use these choices to pick the appropriate shade. Feel free to skip this step if you don’t have a preference.

    ul.flex.center
      li(ng-repeat="color in vm.colors")
        h6 {{ color.name }}

        button.clean(ng-click="vm.toggleColorSelection(color, color.selected)" ng-disabled="vm.readOnly")
          img(ng-src="{{ color.img }}")

        button.action(type="button" selectable=true ng-model="color.selected"  ng-disabled="vm.readOnly")

  main.dark-bg.icons.flex.column.center.flex-grow(ng-show="vm.activeStyleModal == 'icons' ")
    h2 Pick the <strong>icon styles</strong> that you prefer

    p Feel free to skip this step if you don't have a preference.

    ul.flex.center
      li(ng-repeat="icon in vm.icons")
        button.clean(ng-click="vm.toggleSelection('icon', icon.id)"  ng-disabled="vm.readOnly")
          img(ng-src="{{ icon.img }}")

        h6 {{icon.name}}

        p {{icon.description}}

        button.action(type="button" selectable=true ng-model="vm.icon" value="icon.id" ng-disabled="vm.readOnly")

  main.dark-bg.notes.flex.column.center.flex-grow(ng-show="vm.activeStyleModal == 'notes' ")
    .design-notes
      h2  Add any <strong>additional notes</strong>

      p Add any other preferences, notes or details that you would like the designers to know.

      textarea(ng-model="vm.designNotes" placeholder="Notes..." ng-disabled="vm.readOnly")

  footer
    button(ng-hide="vm.backButtonDisabled" ng-click="vm.viewPrevious()") back

    button.action.action(ng-hide="vm.nextButtonDisabled" ng-click="vm.viewNext()") next

    button.action(ng-show="vm.showFinishDesignButton" ng-click="vm.save()") Save
