//- ng-if is needed for lock height
modal.full.define-features(show="vm.showFeaturesModal" ng-if="vm.showFeaturesModal" background-click-close=true)
  h2 <strong>features</strong>

  main.flex.flex-grow.stretch
    ul.features.flex.column
      li.flex-grow(lock-height=true ignore-content="true")
        ul.feature-categories-list
          li(ng-repeat="featureCategory in vm.categoriesList" ng-if="vm.filterByCategory(vm.features, featureCategory.category).length > 0")
            feature-list(
              icon="{{featureCategory.icon}}"
              active-feature ="vm.activeFeature"
              header-text="{{featureCategory.category}}"
              features="vm.features"
              activate-feature="vm.activateFeature(feature)"
            )
      li
        button.clean(ng-click="vm.toggleDefineFeatures()" ng-disabled="vm.readOnly")
          span Define a new feature

          .icon +

    ul.contents.flex.column.flex-grow
      li.flex.flex-grow
        .default.active(ng-hide="vm.showDefineFeaturesForm" ng-if="!vm.activeFeature" ng-class="{active: !vm.activeFeature}")
          h5 Select and define features for your app

          p Select from the most popular features, listed on the left, or define your own custom features.

        .description(ng-hide="vm.showDefineFeaturesForm" ng-if="vm.activeFeature" ng-class="{active: vm.activeFeature}")
          h5 {{ vm.activeFeature.title }}

          p {{vm.activeFeature.description}}

          textarea(placeholder="Notes..." ng-model="vm.activeFeature.notes" ng-change="vm.activeFeatureChangedNotes()")

          button.action(ng-if="!vm.activeFeature.selected" ng-click="vm.applyFeature()" ng-disabled="vm.readOnly") Add this feature

          button(ng-if="vm.activeFeature.selected" ng-click="vm.removeFeature()" ng-disabled="vm.readOnly") remove feature

          //- button.action(ng-if="vm.activeFeatureChangedNotes(vm.activeFeature)" ng-click="vm.saveNotes()") save notes

        form.new-feature(ng-submit="vm.addCustomFeature()" ng-class="{active: vm.showDefineFeaturesForm}")
          h5 Define a new feature

          label Feature name

          input(type="text" ng-model="vm.customFeature.title" ng-change="vm.customNameUnique()" required=true)

          p.error(ng-if="vm.featureTitleError") This feature name already exists, please try another.

          label Feature description

          textarea(ng-model="vm.customFeature.description" required=true placeholder="Briefly describe the feature, including how it will be used, and provide examples that will help designers and developers understand it.")

          button.action(type="submit" ng-disabled="vm.readOnly") add

          button.cancel(type="button" ng-click="vm.hideCustomFeatures()") Cancel

        .example.flex-grow
          img(ng-if="vm.activeFeature && !vm.activeFeature.custom" ng-src="{{ vm.activePreview }}")

          img(ng-if="vm.activeFeature && vm.activeFeature.custom" ng-src=require("./../../images/Custom-feature.png"))

          img(ng-if="!vm.activeFeature && vm.addingCustomFeature" ng-src=require("./../../images/Custom-feature.png"))

          img(ng-if="!vm.activeFeature && !vm.addingCustomFeature" ng-src=require("./../../images/Default-preview.png"))

      li.flex.middle.space-between
        .count {{vm.selectedFeaturesCount}} features added

        button.action(ng-click="vm.save()" ng-disabled="vm.readOnly") Save
