modal.upload-documents(show="vm.showUploadModal" background-click-close=true)
  main
    img.upload-icon(src="/images/upload.svg")

    h2 Upload <strong>Requirements</strong>

    p Upload a brief, requirements, specs, or feature list.

    ap-uploader(
      config="vm.uploaderConfig"
      uploading="vm.uploaderUploading"
      has-errors="vm.uploaderHasErrors"
      has-files="vm.uploaderHasFiles"
    )