modal.upload-documents(show="vm.showUploadSpecs" background-click-close=true)
  main
    img.upload-icon(src="/images/upload.svg")

    h2 Upload documents

    ap-uploader(
      config="vm.uploaderConfig"
      uploading="vm.uploaderUploading"
      has-errors="vm.uploaderHasErrors"
      has-files="vm.uploaderHasFiles"
    )